[Desktop Entry]
Name=FScape
Version=1.3.1-SNAPSHOT
GenericName=FScape
Comment=FScape Audio Rendering Application
Exec=/usr/share/fscape/bin/fscape
StartupWMClass=de-sciss-fscape-FScape
Icon=/usr/share/fscape/FScape.png
Categories=Audio;AudioVideo;
Terminal=false
Type=Application
